img {
    width: 100%;
    height: auto;
}

.img-auto {
    width: auto;
}

main.card img {
    border-radius: 0.5rem;
}

main.card img.eye {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
}

p.crypto img {
    margin-right: .4375em;
}

p.time img {
    margin-right: .6em;
}

main.card img.avatar {
    width: 2rem;
    margin-right: 1em;
    border: 1px solid white;
    border-radius: 50%;
}